<!DOCTYPE html>
<html>
<head>
    <title>CourseWeb</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/bower_components/Materialize/bin/materialize.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/bower_components/pikaday/css/pikaday.css"/>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/Materialize/bin/materialize.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/Headhesive.js/dist/headhesive.min.js"></script>
    <script src="/bower_components/highcharts/highcharts.js"></script>
    <script src="/bower_components/js-base64/base64.min.js"></script>
    <script src="/bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="/bower_components/async/dist/async.js"></script>
    <script src="/bower_components/pikaday/pikaday.js"></script>
    <script src="/bower_components/js-yaml/dist/js-yaml.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>

</head>
<body ng-app="courseWebApp">
<%= yield %>
</body>
<script>
    window._rails_env = "<%= Rails.env %>"
</script>
</html>
